<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>mom-fooder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
    <meta id="data" data-products="{{products}}">
    <script src="https://cdn.jsdelivr.net/npm/fuzzysort@3.0.2/fuzzysort.min.js"></script>
</head>
<body>
    <div id="top">
        <div id="title">mom-fooder</div>
        <div id="subtitle">a fooder for the moms.</div>
        <input type="text" id="search" placeholder="search {{products|length}} products">
    </div>

    <div id="products">
        <table id="products-table">
            <colgroup>
                <col span="1" style="width: 80%">
                <col span="1" style="width: 10%">
                <col span="1" style="width: 10%">
            </colgroup>
            
            <tbody>
                <tr>
                    <th>Product</th>
                    <th>Store</th>
                    <th>Price</th>
                </tr>

                {# for product in products #}
                {% for product in products | sort(attribute='price') %}
                <tr id="product_{{loop.index}}">
                    <td>{{product['name']}}</td>
                    <td>{{product['store']}}</td>
                    <td>{{ "${:,.2f}".format(product['price']) }}</td>
                    {#<td>{{product['price']}}</td>#}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}" type="module"></script>
</body>
</html>